#player1{
    height:100px;
    width:100px;
    background-image: url("./assets/sprites/player1_walk_down_pt1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: walkDown 1s ease-in-out infinite;
}
@keyframes walkDown {
    0%{
        background-image: url("./assets/sprites/player1_walk_down_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player1_walk_down_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player1_walk_down_pt2.png");
    }
}
@keyframes walkUp {
    0%{
        background-image: url("./assets/sprites/player1_walk_up_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player1_walk_up_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player1_walk_up_pt2.png");
    }
}
@keyframes walkLeft {
    0%{
        background-image: url("./assets/sprites/player1_walk_left_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player1_walk_left_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player1_walk_left_pt2.png");
    }
}
@keyframes walkRight {
    0%{
        background-image: url("./assets/sprites/player1_walk_right_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player1_walk_right_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player1_walk_right_pt2.png");
    }
}
.grid{
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(3, 100px);
}
#x{
    grid-column: 6;
    grid-row: 3;
}