#player1{
    height:100px;
    width:100px;
    /*background-image: url("./assets/sprites/player1_walk_down_pt1.png");*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*animation: walkRight 1s ease-in-out infinite;*/
}
#player2{
    height:100px;
    width:100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@keyframes P1punchLeft {
    0%{
        background-image: url("./assets/sprites/player1_punch_left_pt1.png");
    }
    50% {
        background-image: url("./assets/sprites/player1_punch_left_pt2.png");
    }
    100%{
        background-image: url("./assets/sprites/player1_punch_left_pt3.png");
    }
}

@keyframes P2punchLeft {
    0%{
        background-image: url("./assets/sprites/player2_punch_left_pt1.png");
    }
    50% {
        background-image: url("./assets/sprites/player2_punch_left_pt2.png");
    }
    100%{
        background-image: url("./assets/sprites/player2_punch_left_pt3.png");
    }
}

@keyframes P1punchRight {
    0%{
        background-image: url("./assets/sprites/player1_punch_right_pt1.png");
    }
    50% {
        background-image: url("./assets/sprites/player1_punch_right_pt2.png");
    }
    100%{
        background-image: url("./assets/sprites/player1_punch_right_pt3.png");
    }
}

@keyframes P2punchRight {
    0%{
        background-image: url("./assets/sprites/player2_punch_right_pt1.png");
    }
    50% {
        background-image: url("./assets/sprites/player2_punch_right_pt2.png");
    }
    100%{
        background-image: url("./assets/sprites/player2_punch_right_pt3.png");
    }
}

@keyframes P1shootLeft {
    0%{
        background-image: url("./assets/sprites/player1_shoot_left_pt1.png");
    }
    50% {
        background-image: url("./assets/sprites/player1_shoot_left_pt2.png");
    }
    100%{
        background-image: url("./assets/sprites/player1_shoot_left_pt3.png");
    }
}

@keyframes P2shootLeft {
    0%{
        background-image: url("./assets/sprites/player2_shoot_left_pt1.png");
    }
    50% {
        background-image: url("./assets/sprites/player2_shoot_left_pt2.png");
    }
    100%{
        background-image: url("./assets/sprites/player2_shoot_left_pt3.png");
    }
}

@keyframes P1shootRight {
    0%{
        background-image: url("./assets/sprites/player1_shoot_right_pt1.png");
    }
    50% {
        background-image: url("./assets/sprites/player1_shoot_right_pt2.png");
    }
    100%{
        background-image: url("./assets/sprites/player1_shoot_right_pt3.png");
    }
}

@keyframes P2shootRight {
    0%{
        background-image: url("./assets/sprites/player2_shoot_right_pt1.png");
    }
    50% {
        background-image: url("./assets/sprites/player2_shoot_right_pt2.png");
    }
    100%{
        background-image: url("./assets/sprites/player2_shoot_right_pt3.png");
    }
}

@keyframes P1walkDown {
    0%{
        background-image: url("./assets/sprites/player1_walk_down_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player1_walk_down_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player1_walk_down_pt2.png");
    }
}
@keyframes P1walkUp {
    0%{
        background-image: url("./assets/sprites/player1_walk_up_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player1_walk_up_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player1_walk_up_pt2.png");
    }
}
@keyframes P1walkLeft {
    0%{
        background-image: url("./assets/sprites/player1_walk_left_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player1_walk_left_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player1_walk_left_pt2.png");
    }
}
@keyframes P1walkRight {
    0%{
        background-image: url("./assets/sprites/player1_walk_right_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player1_walk_right_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player1_walk_right_pt2.png");
    }
}
@keyframes P2walkDown {
    0%{
        background-image: url("./assets/sprites/player2_walk_down_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player2_walk_down_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player2_walk_down_pt2.png");
    }
}
@keyframes P2walkUp {
    0%{
        background-image: url("./assets/sprites/player2_walk_up_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player2_walk_up_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player2_walk_up_pt2.png");
    }
}
@keyframes P2walkLeft {
    0%{
        background-image: url("./assets/sprites/player2_walk_left_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player2_walk_left_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player2_walk_left_pt2.png");
    }
}
@keyframes P2walkRight {
    0%{
        background-image: url("./assets/sprites/player2_walk_right_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player2_walk_right_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player2_walk_right_pt2.png");
    }
}
.grid{
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(3, 100px);
}
#battleScreen{
    background-color: green;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: all 1s;
    display: none;
    position: fixed;
    top: 0;
    left:0;
}
  
@keyframes blowUpModal {
    0% {
      transform:scale(0);
    }
    100% {
      transform:scale(1);
    }
}
.row{
    display:flex;
    flex-direction: row;
}
.col{
    display:flex;
    flex-direction: column;
}
/*#x{
    grid-column: 6;
    grid-row: 3;
}*/