#player1{
    height:100px;
    width:100px;
    /*background-image: url("./assets/sprites/player1_walk_down_pt1.png");*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*animation: walkRight 1s ease-in-out infinite;*/
}
#player2{
    height:100px;
    width:100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@keyframes P1walkDown {
    0%{
        background-image: url("./assets/sprites/player1_walk_down_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player1_walk_down_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player1_walk_down_pt2.png");
    }
}
@keyframes P1walkUp {
    0%{
        background-image: url("./assets/sprites/player1_walk_up_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player1_walk_up_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player1_walk_up_pt2.png");
    }
}
@keyframes P1walkLeft {
    0%{
        background-image: url("./assets/sprites/player1_walk_left_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player1_walk_left_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player1_walk_left_pt2.png");
    }
}
@keyframes P1walkRight {
    0%{
        background-image: url("./assets/sprites/player1_walk_right_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player1_walk_right_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player1_walk_right_pt2.png");
    }
}
@keyframes P2walkDown {
    0%{
        background-image: url("./assets/sprites/player2_walk_down_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player2_walk_down_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player2_walk_down_pt2.png");
    }
}
@keyframes P2walkUp {
    0%{
        background-image: url("./assets/sprites/player2_walk_up_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player2_walk_up_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player2_walk_up_pt2.png");
    }
}
@keyframes P2walkLeft {
    0%{
        background-image: url("./assets/sprites/player2_walk_left_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player2_walk_left_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player2_walk_left_pt2.png");
    }
}
@keyframes P2walkRight {
    0%{
        background-image: url("./assets/sprites/player2_walk_right_pt2.png");
    }
    50% {
        background-image: url("./assets/sprites/player2_walk_right_pt1.png");
    }
    100%{
        background-image: url("./assets/sprites/player2_walk_right_pt2.png");
    }
}
.grid{
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(3, 100px);
}
/*#x{
    grid-column: 6;
    grid-row: 3;
}*/